RewriteEngine On

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^contacts$ index.php?action=contacts [L] 

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^contacts/create$ index.php?action=createContacts [L] 

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^contacts/create$ index.php?action=createContactsPost [L] 

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^groupes$ index.php?action=groupes [L] 

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^groupes/create$ index.php?action=createGroupes [L] 

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^groupes/create$ index.php?action=createGroupesPost [L] 

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^groupes/([0-9]+)$ index.php?action=Onegroupe&id=$1 [L] 

RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^login$ index.php?action=login [L] 

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule ^login$ index.php?action=loginPost [L] 



# Rediriger les requêtes GET pour './Views/formulaire.php'
RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^formulaire/(.*)$ ./Views/formulaire.php?info=$1 [L]

RewriteRule ^home$ ./Views/home.php/ [L]

RewriteRule ^discussion/(.*)$ ./Views/discussion.php?discussion_id=$1 [L]

RewriteRule assets/(.*)$ assets/$1 [L]
# RewriteRule [^index.php]  index.php?action=erreur
